*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: auto;
}

.container{
    margin-top: 50px;
    border: 3px solid black;
    align-items: center;
    width: 40%;
    padding: 10px 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: baseline;
}

.btn{
    background-color: yellow;
    border: 2px solid black;
    box-shadow: 3px 3px;
    width: 15%;
    font-size: 1rem;
}

#count{
    margin-left: 25%;
}

p{
    font-size: 1.2rem;
}
